<footer>
<div class="footer-bottom">
        <p><span id="toggle-debug">Show <code>Debug</code></span>
                <br>This site is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://apip-web.github.io">NOIR</a></small></p>
</div>
</footer>

<script>
(function () {
  document.addEventListener('DOMContentLoaded', () => {
    const debugBtn = document.getElementById('toggle-debug');
    const debugBox = document.getElementById('spa-debug');

    if (!debugBtn || !debugBox) return;

    debugBtn.addEventListener('click', () => {
      const isHidden = getComputedStyle(debugBox).display === 'none';

      debugBox.style.display = isHidden ? 'block' : 'none';
      debugBtn.innerHTML = isHidden
        ? 'Hide <code>Debug</code>'
        : 'Show <code>Debug</code>';

      if (!isHidden) return;
      debugBox.scrollTop = debugBox.scrollHeight;
    });
  });
})();
</script>
